<launch>
  <include file="$(find slave_bringup)/launch/includes/freenect_tf_prefix.launch.xml">

    <!-- use device registration -->
    <arg name="depth_registration"              value="true" /> 

    <arg name="rgb_processing"                  value="true" />
    <arg name="ir_processing"                   value="false" />
    <arg name="depth_processing"                value="false" />
    <arg name="depth_registered_processing"     value="true" />
    <arg name="publish_tf"                      value="false"/>
    <arg name="disparity_processing"            value="false" />
    <arg name="disparity_registered_processing" value="false" />
    <arg name="sw_registered_processing"        value="false" />
    <arg name="hw_registered_processing"        value="true" />

  </include>
</launch>
